.container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #34c9ed;
  border-top: 1px solid #34c9ed;

  p {
    margin-bottom: 0;
  }

  @media (max-width: 1023px) {
    margin: 0;
    order: -1;
    border: none;
  }

  @media (max-width: 767px) {
    margin: 10px auto;
    border-bottom: 1px solid #34c9ed;
    border-top: 1px solid #34c9ed;
  }
}

.temperature {
  margin-top: 5px;
  font-size: 3.2rem;
}

.icon {
  width: 100px;
}

.description {
  max-width: 245px;
  margin-top: -15px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
