.container {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 320px;
  background-color: #f1f1f1;
  z-index: -100;
  position: fixed;
  height: 100%;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 1rem;

  p {
    margin-bottom: 0;
  }

  @media (max-width: 1023px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    height: auto;
    position: relative;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: inherit;
    overflow: inherit;
  }

  @media (max-width: 767px) {
    display: block;
    max-width: 310px;

    font-size: 1rem;
  }
}
